/* GENERAL */
:root {
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 240px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    display: none;
}

/* NAVBAR*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu, .logo {
    padding: 8px;
}
.menu {
    display: none;
}
.logo {
    width: 100px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul, .navbar-right ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.navbar-left ul li a, .navbar-right ul li {
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}

/* MENU DESKTOP */
.desktop-menu {
    position: absolute;
    top: 71px;
    right: 80px;
    background-color: var(--white);
    width: 150px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px
}        
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green); 
    font-size: var(--sm);
}

/* MENU MOBILE */
.mobile-menu {
    position: absolute;
    top: 72px;
    left: 0px;
    padding: 24px;
    width: 100%;
    background-color: var(--white);
}
.mobile-menu ul {
    list-style: none;
    margin: 24px 0 0;
    font-size: var(--md);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);            
}
.mobile-menu ul:last-child {
    margin-top: 70px;
}
.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--black);
}
.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* ASIDES */
aside {
    position: absolute;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: var(--white);
}

/* CARRITO DE COMPRAS */
#shoppingCartContainer {
    padding: 0 15px;
}
.title-container {
    display: flex;
    margin: 10px;
}
.title-container img {
    margin: 0 20px;
    transform: rotate(180deg);
}
.title {
    font-size: var(--lg);
    font-weight: bold;
}
.my-orden-content {
    display: flex;
    flex-direction: column;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 10px 24px;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2) {
    font-size: var(--md);
    text-align: end;
    font-weight: bold;
}
.shopping-cart {
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 12px;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2){
    font-size: var(--md);
    color: var(--dark);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 14px;
    margin-bottom: 30px;            
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);            
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* DETALLES DE PRODUCTO */
.product-detail-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:20px;
    left: 20px;
    width: 16px;
    height: 16px;
    padding: 16px;
    background-color: var(--white);    
    border-radius: 50%;
}
.product-detail-close:hover {
    cursor: pointer;
}
#productDetail > img:nth-child(2) {
    width: 100%;
    border-radius: 0 0 20px 20px;
}
#productDetail .product-info {
    padding: 15px;
}
#productDetail .product-info p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}
#productDetail .product-info p:nth-child(2) {
    color: var(--black);
    font-size: var(--md);
    margin-bottom: 36px;
}
#productDetail .product-info p:nth-child(3) {
    color: var(--black);
    font-size: var(--sm);
    margin-bottom: 36px;
}
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 14px;
    margin-bottom: 30px;            
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);            
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* LISTA DE PRODUCTOS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    place-content: center;
    gap: 20px;
    padding: 20px 10px 10px;

}
.product-card {
    width: var(--card-size);
}
.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    object-fit: cover;
    border-radius: 20px;
}
.product-card .product-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-card .product-info figure img {
    width: 35px;
    height: 35px;
}
.product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);

}
.product-card .product-info div p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

@media (max-width: 790px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    :root {
        --card-size: 140px;
    }
}
@media(max-width: 400px) {
    aside {
        width: 100%;
    }
}
@media (min-width: 790px) {
    .mobile-menu {
        display: none;
    }
}
